.modalTitle {  color: var(--primary) !important;
  font-weight: 800;
}

.modalContent {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.indicatorRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5; 
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.weightControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.iconButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.saveButton {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.saveButton:hover {
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
}

.cancelButton {
  color: var(--primary) !important;
}
